@font-face {
    font-family: "Manrope";
    src: url("assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    src: url("assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

:root {
    --color-primary-purple: #320064;
    --color-primary-white: #fdf8f8;
    --color-primary-violet: #c896ff;
    --color-primary-white-card: #ffffff;
    --color-secondary-green: #49891a;
    --color-secondary-green-light: #63ac2e;
    --color-secondary-gray: #bbbbbb;
    --color-secondary-red-error: #fef3f3;
    --color-secondary-red-error-stroke: #ff1b1b;

    --border-radius-small: 16px;
    --border-radius: 24px;
    --border-radius-large: 48px;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 21, 108, 1);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.imgRotatePhone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: none;
    background-color: var(--primary-black);

    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 24px;
    font-weight: 700;
}

.imgRotatePhoneText {
    padding: 0 14px;
    text-align: center;
}

.imgRotatePhoneRecommend {
    max-width: 280px;
    margin-top: 15px;
    font-size: 16px;
    padding: 0 14px;
    text-align: center;
}

.imgRotatePhone img {
    max-width: 104px;
    max-height: 104px;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

@media screen and (max-aspect-ratio: 4/3) {
    .overlay {
        display: flex;
    }

    .imgRotatePhone {
        display: flex;
    }
}

