.container {
    min-height: 100vh;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
    color: var(--color-primary-purple);
}

.wrapper__form {
    width: 72.5vw;
    height: 58vh;
    background-color: var(--color-primary-white-card);
    border-radius: var(--border-radius-large);
    display: grid;
    grid-template-columns: 23.4vw 34.4vw;
    justify-content: space-between;
    gap: 3.6vw;
    overflow: hidden;
    padding: 8.3vh 5.5vw 9.1vh;
}

.wrapper__form-greeting {
    display: flex;
    flex-direction: column;
    gap: 1.6vh;
}

.wrapper__form-greeting-title {
    color: var(--color-primary-purple);
    font-size: 3.5vw;
}

.wrapper__form-greeting-desc {
    font-size: 1.2vw;
}

@media (max-width: 1100px) {
    .wrapper__form {
        height: 50vh;
        padding: 5.3vh 5.5vw 6.1vh;
    }
}

@media (max-width: 950px) {
    .wrapper__form {
        height: 45vh;
        padding: 4.3vh 5.5vw;
    }
}

@media (max-width: 850px) {
    .wrapper__form {
        height: 40vh;
        border-radius: var(--border-radius);
        padding: 3.3vh 4.5vw;
    }
}

@media (max-width: 650px) {
    .wrapper__form {
        height: 30vh;
        border-radius: var(--border-radius);
        padding: 3vh 4vw;
    }
}
