::backdrop {
    background-color: var(--color-primary-purple);
    opacity: 0.8;
}
dialog {
    width: 90vw;
    max-height: 90vh;
    margin: auto;
    padding: 30px 30px 30px 60px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 100;
}
