.wiki__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-primary-white);
    height: 58px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 7vw;
}

.wiki__header-title {
    color: var(--color-primary-purple);
    font-size: clamp(20px, 4vw, 45px);
    font-weight: 900;
}

.wiki__header-control {
    display: flex;
    gap: clamp(10px, 3vw, 30px);
}

@media (max-width: 950px) {
    .wiki__header {
        padding: 2vw;
    }
}

