.wiki__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: var(--color-primary-white);
    margin-inline: auto;
    height: 58px;
    z-index: 10;
}

.wiki__header-title {
    color: var(--color-primary-purple);
    font-size: 45px;
    margin-left: 100px;
    font-weight: 900;
}

.wiki__header-control {
    margin-right: 100px;
    display: flex;
    gap: 30px;
}

.wiki__header-button {
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.wiki__header-button:hover {
    opacity: 0.8;
}
