.react-parent {
    padding: 5% 5%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.react-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-bottom: 8vh;
    padding-top: 1vh;
    overflow: hidden;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

@media (max-width: 850px) {
    .react-content {
        padding-bottom: 5vh;
    }
}

@media (max-width: 750px) {
    .react-content {
        padding-bottom: 0;
        padding-top: 0;
    }
}

